.oceanCell {
    height: 50px;
    width: 50px;
}
.targetCell {
    height: 50px;
    width: 50px;
}

.buttondiv {
    margin-top:20px;
    margin-bottom:20px;
}

.moveDiv {
    margin-top: 50px;
    margin-bottom: 50px;
}